{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true
        },
        "baseUrl": "./src",
        "paths": {
            "./*": [
                "src/*"
            ]
        }
    },
    "env": {
        "targets": {
            "node": 18
        }
    },
    "module": {
        "type": "commonjs"
    }
}